
.DS_Store

dev-project-frontend/node_modules/

dev-project-backend/.idea/

*.iml

dev-project-frontend/.idea/

dev-project-backend/log/

dev-project-backend/backend-core/target/

dev-project-backend/backend-infrastructure/target/
