<div class="container share">
  <hr class="hr-left">
  <span> Share a Youtube movie </span>
  <hr class="hr-right">
  <div id="container">
    <div class="row padding-input">
      <div class="col-sm-3 bold">
        Youtube URL:
      </div>
      <div class="col-sm-9 url-input">
        <input placeholder="Input youtube url" [(ngModel)]="url">
      </div>
    </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="btn btn-primary btn-sm btn-share" (click)="submitShareMovie()">Share</button>
        </div>
      </div>
  </div>
</div>

<div id="noticeModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Notice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Congratulations, successful sharing.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="goToHomePage()">Go Home Page</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeNotice()">Close</button>
      </div>
    </div>
  </div>
</div>
