.share {
  min-height: 800px;
  margin-top: 200px;
  text-align: center;
  hr {
    border-top: solid 1px black;
  }

  hr.hr-left {
    display: inline-block;
    width: 50px;
    margin: 0 !important;
    padding: 0 !important;
  }

  hr.hr-right {
    display: inline-block;
    width: 450px;
    margin: 0 !important;
    padding: 0 !important;
  }

  span {
    width: 200px !important;
    display: inline-block;
    text-align: center;
    font-weight: 600;
  }

  #container {
    width: 700px;
    margin: auto;
    text-align: center;
    height: 150px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0 !important;
    margin-top: -7px;
    border-bottom: 1px solid black;
  }

  .url-input>input {
    width: 100%;
  }

  .btn-share {
    width: 70%;
  }

  .bold {
    font-weight: 500;
  }

  .padding-input {
    padding: 40px 10px 20px 10px;
  }
}
